<h1 class="p-2">This is all Dogs</h1>

<div class="d-flex">
  <div class="cards">
    <% @dogs.each do |dog| %>
      <div class="row m-2">
        <div class="card-product">
          <% if dog.photo.attached? %>
            <%= link_to cl_image_tag dog.photo.key, crop: :fill %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= dog.name %></h2>
            <p><%= dog.breed %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="map">
  <div style="width: 600px; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
