<div class="container">

<h1>Look at this dog!</h1>
<div class="d-inline-flex p-2">
<div>
<%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
<hr>
<%= link_to "Book this dawg!",  new_dog_booking_path(@dog) %>
<hr>
<%=link_to "Go back to all the dogs.", dogs_path %>

</div>

<%# <h2>And all the information about it:</h2> %>
<div>

<ul>
  <h2><%= @dog.name %></h2>
  <br>
  <p>Age: <%= @dog.age %></p>
  <br>
  <p>Breed: <%= @dog.breed %></p>
  <br>
  <p>Size: <%= @dog.size %></p>
  <br>
  <p>Gender: <%= @dog.gender %></p>
  <br>
  <%=
  "#{@dog.name} is a cuddly and feisty little teddy bear, who likes to be petted, often putting their front paws on your knee asking for attention. #{@dog.name} braves the other dogs to vie for lap-time - then they lays sideways on your chest and snuggles their head under your chin. #{@dog.name}'s hair is very soft. #{@dog.name} can be playful with their human but not that interactive with the other dogs. When breakfast and dinner is getting dished up, #{@dog.name} barks and barks - the best times of the day. #{@dog.name} does sit before getting their food dish if asked. #{@dog.name} likes to be an only pet; they chase the cats and learned other dogs have boundaries and don’t share their food bowls. #{@dog.name} has gotten much more social with other people but not fond of young children. After they get petted, they go to the couch, kick back and keeps a curious eye on what’s going on. #{@dog.name} is a really cute and fun little dog. They can be quite social or the best nap-buddy you’ve ever had."
   %>
</ul>


</div>
</div>



</div>
