<div class="container">

<div class="card-product">
  <<%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill if @dog %>
  <div class="card-product-infos">
    <h2>Look at this dog!</h2>
    <p>
      Name: <%= @dog.name %>
      Age: <%= @dog.age %>
      Breed: <%= @dog.breed %>
      Size: <%= @dog.size %>
      Gender: <%= @dog.gender %>
      Reaaally loves to: <%= @dog.description %>
      <%= link_to "Book this dawg!",  new_dog_booking_path(@dog) %>
      <%=link_to "Go back to all the dogs.", dogs_path %>
    </p>
  </div>
</div>
