<div class="container">
<h1>Dashboard</h1>

 <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
<%= link_to "Add your Picture",  edit_user_registration_path %>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Your Bookings</h2>
      <% @bookings.each do |booking| %>

      <p><%= "You booked #{booking.dog.name}" %></p>

      <% end %>


      <%=link_to "Rent your Dog", new_dog_path, class:"btn btn-primary" %>
    </div>
    <div class="col">
      <h2>Your dogs</h2>

      <% @dogs.each do |dog| %>

      <p><%= "#{dog.name}" %></p>

      <% end %>
    </div>
  </div>
</div>
